// layout
$min-width: 1280px;
$nav-width: 452px;
$nav-width-large: 800px;
$nav-width-large2: 1000px;
$nav-width-small: 200px;
$header-height: 50px;
$bottom-height: 100px;

// font - family
$font-family: "맑은 고딕, Malgun Gothic, dotum, gulim, sans-serif";
// font - size
// icon size
$icon-size: 16px;
// default
$default: 14px;
$small: 12px;
$ex-small: 11px;
// depth1
$depth1: 28px;
// depth2
$depth2: 22px;
// depth3
$depth3: 18px;
// depth4
$depth4: 16px;
