// url
$img: "./../images/";
$icon: "./../images/icon/";
$svg: "./../images/svg/";

// mixin
@import "./utils/mixin/layout";
@import "./utils/variable/variable";
@import "./utils/variable/colors";

// common
@import "./common/reset";
@import "./common/layout";
@import "./common/color";
@import "./common/size";
@import "./common/ui";
@import "./common/modal";
@import "./common/bootstrap-datetimepicker";

// layout
@import "./layout/top";
@import "./layout/left";
@import "./layout/contents";
@import "./layout/bottom";
@import "./layout/main";
