.modal-wraper {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;

  &.window-popup {
    position: relative;
  }
}

.modal {
  &.modal-overlay {
    @include flex;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}
.modal-close {
  color: $light-body;
}

.modal-content {
  padding: 10px 20px;
}

.modal-outer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 4000;
}

.modal-wrap {
  min-width: 300px;
  background-color: var(--bg-popup);

  .modal-title {
    @include flex-between-c;
    flex: none;
    height: 40px;
    background-color: var(--bg-popup-title);
    color: $white;
    padding: 0 10px;
    font-size: $depth4;
    border-bottom: 1px solid var(--border-light);

    button {
      color: $white;
    }
  }
  .modal-inner {
    padding: 10px 10px 0;

    &.space {
      padding: 10px;
    }
  }

  &.modal-full {
    @include full;
    width: 100vw;
    height: 100%;
  }

  .modal-bottom {
    padding: 10px;

    &.between {
      @include flex-between-c;
    }

    .btn-bottom {
      padding: 0;
    }
  }

  &.modal-left {
    position: absolute;
    left: $nav-width + 10px;
    top: $header-height + 10px;

    &.large {
      left: $nav-width-large + 10px;
    }
    &.large2 {
      left: $nav-width-large2 + 10px;
    }
  }
  &.modal-map-control {
    position: fixed;
    right: 60px;
    bottom: 50px;
  }
  &.modal-center {
    @include center-posi;
  }
}
.has-bottom {
  .modal-map-control {
    position: absolute;
  }
}

.modal-absolute {
  box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.7);

  &,
  .modal-outer {
    position: absolute;
  }
}

.modal-left-small {
  .modal-left {
    left: $nav-width-small + 10px;
  }
}

// 오버레이 트랜지션
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.2s;

  // 오버레이에 포함되어 있는 모달 윈도의 트랜지션
  .modal-window {
    transition: opacity 0.2s, transform 0.2s;
  }
}

// 딜레이가 적용된 모달 윈도가 제거된 후에 오버레이가 사라짐
.modal-leave-active {
  transition: opacity 0.3s ease 0.2s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;

  .modal-window {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.layer-pop {
  position: absolute;
  z-index: 1000;
  padding: 15px;
  background-color: var(--bg-body);

  &.map-pop {
    box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.7);
  }
  &.layer-pop-simple {
    padding: 0;
  }

  .btn-close {
    position: absolute;
    right: 8px;
    top: 7px;
    font-size: $depth3;
    color: var(--color-grey);
  }

  .file-upload-wrap {
    .input-wrap {
      border-color: var(--border-light2);
      background-color: var(--bg-form);
    }
  }
}
.map-pop {
  .flex {
    & > div {
      margin: 0 4px;
    }
  }
  .map {
    width: 200px;
  }
}

// modal fit
.modal-fit {
  @include flex($d: column);

  .modal-contents,
  .modal-inner {
    @include full;
  }
}

.window-popup {
  min-width: 500px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .modal-wrap {
    @include full;
    height: 100%;
  }
  .modal-contents {
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
  }
  .modal-center {
    transform: initial;
    position: relative;
    margin: 0 auto;
    left: initial;
    top: initial;
  }
}

.list-type-large {
  margin: 30px;

  li {
    margin: 28px 0;
    font-size: $depth4;
  }
}

// notice
.notice-pop-wrap {
  margin: 0 10px;

  .notice-list {
    padding: 10px 0;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);

    &:first-child {
      border-top: 0;
      padding-top: 5px;
    }

    .notice-top {
      @include flex-between-c;
      margin-bottom: 10px;

      strong {
        font-size: 14px;
      }
      .time {
        color: #ddd;
      }
    }
    .notice-cont {
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}


// drag
.modal-wrap {
  &.modal-map-control.has-dialog-drag {
    right: 80px;
    bottom: 500px;

    .dialog-drag{
      min-width: auto;
    }
  }
}

.modal-center {
  min-width: auto;

  .dialog-drag {
    transform: translate(-50%, -50%);
  }
}
.modal-contents{
  min-width: 300px;
}
.dialog-drag {
  // animation-duration: 0.2s;
  // animation-name: dialog-anim;
  // animation-timing-function: ease-in;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  min-width: 500px;
  z-index: 101;
  background-color: var(--bg-popup);
}

.dialog-drag .dialog-header {
  display: none;

  background-color: #1aad8d;
  color: #fff;
  padding: 0.25em 3em 0.25em 1em;
  position: relative;
  text-align: left;
  width: auto;
}
.dialog-drag .dialog-header .buttons {
  margin: 0.25em 0.25em 0 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 105;
}

.dialog-drag .dialog-header button.close,
.dialog-drag .dialog-header button.pin {
  -webkit-box-shadow: none;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
}

.dialog-drag .dialog-header button.close:hover,
.dialog-drag .dialog-header button.pin:hover {
  color: #e3a826;
}
.dialog-drag .dialog-header button.close:after {
  content: "\2716";
}
.dialog-drag .dialog-header button.pin:after {
  content: "\1F513";
}

.dialog-drag.fixed {
  border-color: #e3a826;
  user-select: auto;
}
.dialog-drag.fixed button.pin {
  font-weight: 700;
}
.dialog-drag.fixed button.pin:after {
  content: "\1F512";
}
@-webkit-keyframes dialog-anim {
  0% {
    -webkit-transform: scaleX(0.1);
    opacity: 0;
    transform: scaleX(0.1);
  }
  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  to {
    opacity: 1;
  }
}
@keyframes dialog-anim {
  0% {
    -webkit-transform: scaleX(0.1);
    opacity: 0;
    transform: scaleX(0.1);
  }
  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  to {
    opacity: 1;
  }
}
