.size-default {
  font-size: $default;
}
.size-depth1 {
  font-size: $depth1;
}
.size-depth2 {
  font-size: $depth2;
}
.size-depth3 {
  font-size: $depth3;
}
.size-small {
  font-size: $small;
}
